
body{
	margin:0px;
	padding:0px;
	font-family:"Helvetica Neue", Helvetica, Arial;
}


#sidebar{
	background:#c32143;
	width:200px;
	height:100%;
	display:inline-block;
	position:absolute;
	left:-200px;
	top:0px;
	transition:left 0.3s linear;
}

#sidebar.visible{
	left:0px;
	transition:left 0.3s linear;
}
button {
    background-color: #c32143;/* Gray */
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
ul{
	margin:0px;
	padding:0px;
}
a{
	color:#fff;
}


#sidebar-btn{
	display:inline-block;
	vertical-align: right;
	width:20px;
	height:15px;
	cursor:pointer;
	margin:20px;
	position:relative;
	top:0px;
	right:-180px;
}

#sidebar-btn span{
	height:1px;
	background:#111;
	margin-bottom:5px;
	display:block;
}

#sidebar-btn span:nth-child(2){
	width:75%;
}

#sidebar-btn span:nth-child(3){
	width:50%;
}



